{% extends "base.html" %}
{% load staticfiles %}
{% block title %}block article{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>{{ article.title }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <p  class="text-center"><span>{{  article.author.username  }}</span><span
                style="margin-left:20px">{{ publish }}</span></p>
        <div>{{ article.body|safe}}</div>
    </div>
        <div class="col-xs-6 col-md-4">
        <h2>Blog Vhiccup</h2>
        <p>Love is a touch and yet not a touch</p>
        <img width="400px" src="{% static 'images/huoerdun.png' %}" alt="麦田">
        </div>
</div>
{% endblock %}